.message-container {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.speech-bubble {
  background-color: rgb(205, 195, 195);
  color: black;
  border-radius: 12px;
  padding: 8px 12px;
  position: relative;
  width: auto;
  max-width: 50%;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(205, 195, 195);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.reverse-speech-bubble {
  background-color: orange;
  color: black;
  border-radius: 12px;
  padding: 8px 12px;
  position: relative;
  width: auto;
  max-width: 50%;
  display: flex;
}

.reverse-speech-bubble > div {
  flex: 1;
  white-space: normal;
  word-break: break-word;
}

.reverse-speech-bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid orange;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.reverseOrder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.order {
  padding-bottom: 10px;
}

.custom-button {
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-button {
  border: none;
  background: transparent;
}

.message-div {
  padding: 10px;
  height: 84vh;
}

.back-button {
  height: 84vh;
}

.show-chat {
  height: 84vh;
  border: 2px solid #ccc;
  overflow: auto;
  padding-top: 10px;
}

.user-input {
  padding-left: 25px !important;
  padding-top: 5px;
  height: 5vh;
}
