.nextLink {
  color: gray;
}
.nextLinkTemp {
  color: gray;
}
.nextLinkRev {
  color: gray;
}

.headerNav {
  border: 1px solid black;
}

.profile-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.normal-link {
  display: flex;
}

.reverse-link {
  border-top: 1px solid;
}

@media (min-width: 550px) {
  .smaller-search-bar {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
  }
}
@media (max-width: 550px) {
  .bigger-search-bar {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
  }
  .sidebar-menu {
    left: 0px !important;
  }
  
}
@media (max-width: 990px) {
  .normal-link {
    display: none;
    height: 0px;
    width: 0px;
  }
  .nextLinkTemp {
    height: 0px;
    width: 0px;
    display: none;
  }

  .vl {
    border-left: 1px solid;
    height: 34px;
  }
}

@media (min-width: 990px) {
  .reverse-link {
    display: none;
    height: 0px;
    width: 0px;
  }
  .nextLinkRev {
    height: 0px;
    width: 0px;
    display: none;
  }
  .v1 {
    height: 0px;
    width: 0px;
    display: none;
    border-left: 0px;
  }
}
