.search-container {
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  display: none;
  z-index: 10;
  position: absolute;
  top: 39px;
  width: 100%;
  height: 92vh;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.dropdown:hover {
  display: flex;
}

.search-inner {
  display: flex;
}

.search-container:focus-within .dropdown {
  display: block;
}
